* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*HEADER*/

header {
    background-color: #114d4d;
    color: white;
    padding: 15px;
    display: left;
}

/*MAIN*/

main {
    padding: 20px;
}

h1, h2 {
    margin: 0 0 15px;
}

/*PARTICIPANTS*/

.about_us{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
   }
.about_us:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

.participants {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.participants img{
    border-radius:50%
}

.participant {
    text-align: center;
    margin: 10px;
}

.participant img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.participant:hover {
    
    transform: translateY(-5px);
    transition: all 0.2s;
}

/*JUSTIFICATION*/

.justification{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;   
}

.justification:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

.justification p {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;

}

/*FOOTER*/

footer {
    background-color: #2d3839;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
